div.case-actu{
    width: 35vw;
    height: 65vh;
    background-color: var(--blue-case-indic1);
    border-radius: 25px;
    overflow: hidden;
}

div.block-title-actu{
    width: 100%;
    position: relative;
}

h1.title-sante{
    text-align: center;
    color: var(--white);
    font-family: var(--montserrat);
    font-weight: 500;
    margin: 15px 0;
}

div.scroll-case-actu{
    width: 100%;
    height: calc(65vh - (15px * 2 + 39px));
    overflow-y: auto;
    display: grid;
    grid-auto-rows: 65px;
    row-gap: 10px;
    position: static;
}

div.scroll-case-actu::-webkit-scrollbar{
    width: 7px;
}

div.scroll-case-actu::-webkit-scrollbar-track{
    background-color: transparent;
}

div.scroll-case-actu::-webkit-scrollbar-thumb{
    background-color: var(--color-source);
    border-radius: 15px;
}

div.scroll-case-actu::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-thumb-hover);
}

div.select-info{
    background-color: var(--blue-info);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    border-radius: 0px 15px 15px 0px;
}

div.title-actu,
div.source-actu{
    width: 25vw;
    padding-left: 5vw;
    display: flex;
    align-items: center;
}

div.title-actu{
    font-family: var(--montserrat);
    color: var(--white);
    font-weight: var(--font-weight-indic);
    font-size: 18px;
}

div.source-actu{
    grid-row: 2/2;
    font-family: var(--montserrat);
    font-weight: var(--font-weight-indic);
    color: var(--color-source);
    font-size: 14px;
}

div.redirection{
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-items: right;
    cursor: pointer;
}

div.redirection a{
    text-decoration: none;
}

svg.icon-redirect{
    color: var(--white);
    height: 31px;
}

iframe.iframe-display{
    width: 100%;
    height: calc(65vh - (15px * 2 + 39px));
    overflow: hidden;
}

button.button-redirect{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button.button-retour-info{
    position: absolute;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

svg.retour-info{
    height: 30px;
    color: var(--white);
}