div.div-carte{
    width: 55vw;
    height: 65vh;
    background-color: var(--blue-case-indic1);
    border-radius: 25px;
    overflow: hidden;
}

div.circle-cluster{
    /* width: 25px;
    height: 25px; */
    border-radius: 50%;
    border: 2px solid var(--color-border-cluster);
    background-color: var(--color-cluster);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: var(--montserrat);
    font-weight: var(--font-weight-indic);
}

@media screen and (max-width: 720px)
{
    div.div-carte{
        width: var(--full-width);
    }
}