div.grid-case-info-carte{
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 5vw;
    width: var(--full-width);
    margin-top: 10vh;
}

@media screen and (max-width: 720px)
{
    div.grid-case-info-carte{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: 40px;
    }
}