@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --blue-background: #06090D;
  --blue-case-indic1: #485B73;
  --blue-case-indic2: #253140;
  --blue-info: #364659;
  --color-source: #A4A4A4;
  --color-thumb-hover: #7e7e7e;
  --color-cluster: #D97777;
  --color-border-cluster: #db6262;
  --white: white;
  --montserrat: 'Montserrat', sans-serif;  
  --full-width: 100%;
  --full-height: 100vh;
  --height-header: 15vh; 
  --width-case-indic: 20%;
  --font-size-indic: 1.5em;
  --font-size-indic-total: 1.8em;
  --font-weight-indic: 600;
  --padding-text-indic: 10px;
  --margin-case-info-carte: 3%;
  --margin-respons-info: 15px;
}

body{
  padding: 0;
  margin: 0;
  background-color: var(--blue-background);
  width: calc(var(--full-width) - var(--margin-case-info-carte) * 2);
  height: var(--full-height);
  margin-left: var(--margin-case-info-carte);
  margin-right: var(--margin-case-info-carte);
}

@import url(Header.css);
@import url(CaseCarteInfo.css);
@import url(Carte.css);
@import url(Actualite.css);